@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

.head {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  background-color: aliceblue;
  width: 100vw;
}
.head-ul {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  font-size: 1rem;
}

.head-ul li {
  font-size: 0.9em;
}
.head-ul li a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(12, 11, 11), rgba(0, 0, 0, 0.5)),
    url(Images/fotterback.png);
  background-size: cover;
}

.About {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #323b45;
  color: white;
}
.About hr {
  width: 400px;
  color: black;
}
.About p {
  text-align: center;
}
.service {
  /* display: flex; */
  background-image: linear-gradient(rgb(237, 52, 175), rgba(215, 7, 181, 0.5)),
    url(Images/parlex.png);
  background-attachment: fixed;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.btn:hover:nth-child(1) {
  background-color: #323b45;
}

.btn:hover:nth-child(2) {
  background-color: transparent;
}
.btn:nth-child(1) {
  background-color: transparent;
}
.btn:nth-child(2) {
  background-color: #323b45;
}

.src-middle {
  background-color: #323b45;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: white;
}
.src-middle-poster {
  gap: 80px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding-right: 30px;
  padding-left: 30px;
  margin: 20px;
}
.pst-btn {
  padding: 10px;
  background-color: #323b45;
  color: white;
}
.pst-btn:hover {
  background-color: red;
}

.service .container {
  width: 80%;
  margin: auto;
  display: flex;
}

.src-what .container {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 90px; */
}
.src-what {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.src-what h3 {
  font-size: 35px;
  color: white;
}

.src-what h4 {
  font-size: 15px;
  color: white;
}

.src-what p {
  font-size: 15px;
  text-align: center;
  color: white;
}
.src-logo {
  display: flex;
  /* justify-content: space-between; */
  gap: 60px;
}
.src-logos {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  width: 180px;
  color: white;
  gap: 15px;
  font-size: 20px;
  font-weight: 200;
}

.proc {
  background-color: #00c788;
  color: white;
  padding-top: 20px;
}
.proc .container {
  display: flex;
  flex-direction: column;
}
.proc-text {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin-bottom: 90px;

}
.proc-text h3 {
  font-size: 25px;
}
.desc {
  display: flex;
  gap: 25px;

  margin-bottom: 40px;
}
.desc-rd {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.desc-rd h4 {
  font-size: 20px;
}
.desc-rd p {
  font-size: 14px;
}
.round {
  height: 100px;
  width: 100px;
  border: 4px solid white;
  border-radius: 60px;
}

.port {
  /* background-image: linear-gradient(rgb(237, 52, 175), rgba(215, 7, 181, 0.5)),
  url(Images/parlex.png); */
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(72, 207, 173, 0.99),
    rgba(72, 207, 173, 0.78)
  );
  padding-top: 20px;
}
.type1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.type1 h1 {
  color: white;
}

.type1 p {
  color: white;
  font-size: smaller;
  text-align: center;
}
.container8 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type2 {
  display: flex;
}
.ros {
  align-items: center;
}
.def img {
  height: 20vh;
  width: 30vh;
  margin: 10px;
  border: 8px solid white;
}

.pln {
  color: white;
  background-image: linear-gradient(rgba(12, 11, 11), rgba(0, 0, 0, 0.5)),
    url(Images/team.png);
}
.pln-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #00b8b1;
  color: white;
}
.p-con {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.post {
  border: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
  /* width: 23%; */
}
.post:nth-child(1) {
  background-color: yellow;
}

.post:nth-child(2) {
  background-color: #ed5565;
}
.post:nth-child(3) {
  background-color: #a0d468;
}

.post:nth-child(4) {
  background-color: #fc6e51;
}

.post-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #00b8b1;
  width: 100%;
}
.p-btn1 {
  background-color: yellow;
  padding: 10px;
  border-radius: 4px;
}

.p-btn2 {
  background-color: #ed5565;
  padding: 10px;
  border-radius: 4px;
}
.p-btn3 {
  background-color: #a0d468;
  padding: 10px;
  border-radius: 4px;
}

.p-btn4 {
  background-color: #fc6e51;
  padding: 10px;
  border-radius: 4px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 40px;
}

.t-container {
  display: flex;
  gap: 40px;
}
.t-top:hover {
  transform: scale(1.25);
  transition: 1s;
}
/* .t-top{
  animation: fadeIn 5s forwards, fadeOut 5s forwards 4s;
  animation-iteration-count: infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fade-in {
  animation: fadeIn 1s forwards; /* 1s is the duration of the animation */
/* } 

/* .fade-out {
  animation: fadeOut 1s forwards ;
}
.team-top h5{
    font-size: 20px;
} */
.imag {
  background-color: rgba(72, 207, 173, 0.68);
  padding: 10px;
}
.t-name {
  background-color: white;
  color: black;
}
.t-role {
  color: black;
}
.t-n-r {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.t-logos {
  padding-top: 10px;
  /* background-color: rgba(145, 131, 131, 0.111); */
  background-color: gray;
}
.t-s-logos {
  padding: 3px;
  padding-bottom: 5px;
  display: flex;
  place-content: center;
  gap: 5px;
}

.main-bar {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 40px;
}
.logo img {
  width: 105px;
  height: 55px;
}

.contact-section {
  background-color: #f4c542;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-1 h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact-1 hr {
  width: 50px;
  border: none;
  border-top: 2px solid #ffffff;
}

.contact-1 p {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.5;
}

.text-part h3 {
  font-size: 20px;
  color: #ffffff;
  text-align: left;
  margin-left: 20%;
}

.text-part input,
.text-part textarea {
  width: 60%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
}

.text-button {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 285px;
  padding: 10px;
  background-color: #000000;
  color: white;
  border-radius: 10px;
}

.text-button button {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.text-button button {
  margin: 0;
  display: flex;
}

.text-button button:hover {
  background-color: #333333;
}
.contact-bottom{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.boxes{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  color: white;
  margin-top: 400px ;
}
.rond {
  height: 100px;
  width: 100px;
  border: 4px solid white;
  border-radius: 60px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.89), rgba(0, 0, 0, 0.89)),
    url(images/fotterback.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.footer-main {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.footer-app {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.footer-text {
  color: white;
  text-align: center;
  padding: 10px;
}
.footer-text h5 {
  font-weight: 100;
  font-size: 17px;
}
.footer-text p {
  font-weight: 200;
  font-size: 18px;
}
